<mat-toolbar class="navbar custom_brand mat-elevation-z6">
  <div>
    <a
      id ="brand"
      routerLink = "/home"
      routerLinkActive="active"
      aria-label="Blog Javier Pozo"
      class="docs-button mat-button mat-button-base"
      tabindex="0"
      aria-disabled="false"
    >
      <span class="mat-button-wrapper">
        <img src="../../../assets/img/home/angular-white-transparent.svg" alt="logo_angular" class="docs-angular-logo">
        <span>{{ brand }}</span>
      </span>
    </a>
  </div>
  <div class="right-menu-items">
    <a
      routerLink="/portfolio"
      routerLinkActive="active"
      aria-label="Portfolio"
      class="docs-button docs-navbar-hide-small mat-button mat-button-base"
      tabindex="0"
      aria-disabled="false"
    >
      <button mat-button>
        <i class="material-icons">shop</i>
        <span class="main_title">{{ portfolio }}</span>
      </button>
    </a>
    <!-- <a
      routerLink="/estadisticas"
      routerLinkActive="active"
      aria-label="Estadísticas"
      class="docs-button docs-navbar-hide-small mat-button mat-button-base"
      tabindex="0"
      aria-disabled="false"
    >
      <button mat-button>
        <i class="material-icons">insert_chart_outlined</i>
        <span class="main_title">{{ estadisticas }}</span>
      </button>
    </a> -->
    <!-- <a
      routerLink="/home"
      aria-label="Home"
      class="docs-button docs-navbar-hide-small mat-button mat-button-base profile"
      tabindex="0"
      aria-disabled="false"
      (click)="onLogout()"
      *ngIf="srvAuth.userData | async; else showLogin"
    >
      <button mat-button>
        <i class="material-icons">exit_to_app</i>
      </button>
    </a> -->
    <a
      routerLink="/login"
      routerLinkActive="active"
      aria-label="Login"
      class="docs-button docs-navbar-hide-small mat-button mat-button-base profile"
      tabindex="0"
      aria-disabled="false"
    >
      <button mat-button>
        <i class="material-icons">account_circle</i>
      </button>
    </a>
  </div>
</mat-toolbar>


