.navbar.custom_brand {
  justify-content: space-between;
}

span {
  padding-right: 1rem;
}

.custom_brand {
  background: #e52d27; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e52d27, #b31217); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e52d27, #b31217); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

.custom_brand > div > a {
  cursor: pointer;
}

.logoAngular {
  font-size: 45px;
  margin-right: 5px;
}

#brand {
  font-size: 1.2rem;
  text-decoration: none;
}

.main_title {
  font-size: 1.2rem;
}

.right-menu-items > a {
  text-decoration: none;
}

.active {
  color: #000;
}

.right-menu-items .mat-button {
  padding: 0 1px;
}

.mat-button i {
  margin: -3px 2px 0 0;
}

a.login > button i.material-icons {
  font-size: 3.0em;
}

a.login:hover > button i.material-icons {
  font-size: 2.5em;
}
