<mat-toolbar class="navbar custom_brand mat-elevation-z6">
  <div>
    <a
      id ="brand"
      routerLink = "/home"
      routerLinkActive="active"
      aria-label="Blog Javier Pozo"
      class="docs-button mat-button mat-button-base"
      tabindex="0"
      aria-disabled="false"
    >
      <span class="mat-button-wrapper">
        <fa-icon [icon]="logoAngular" class="logoAngular"></fa-icon>
        <span>{{ brand }} | {{ version }}</span>
      </span>
    </a>
  </div>
  <div class="right-menu-items">
    <a
      routerLink="/login"
      routerLinkActive="active"
      aria-label="Login"
      class="docs-button docs-navbar-hide-small mat-button mat-button-base login"
      tabindex="0"
      aria-disabled="false"
    >
      <button mat-button>
        <i class="material-icons">account_circle</i>
      </button>
    </a>
  </div>
</mat-toolbar>


