<div id="notfound">
  <div class="notfound-bg"></div>
    <div class="notfound">
      <div class="notfound-404">
        <h1>404</h1>
      </div>
      <h2>we are sorry, but the page you requested was not found</h2>
      <!-- TODO >>>> DETECTAR POR LA URL DE QUE PARTE VIENE Y MANDARLO A LA HOME O A LA PAGINA INICO ESTADISTICAS-->
      <a
        aria-label="Volver"
        class="docs-button docs-navbar-hide-small mat-button mat-button-base"
        tabindex="0"
        aria-disabled="false"
        [routerLink]="link"
      >
      <button mat-button>
        <i class="material-icons">pan_tool</i> Volver
      </button>
    </a>
  </div>
</div>
