<section class="entry container-fluid text-center">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="divider front-page-divider"><span>Bitácora</span></h1>
      <div class="grupo">
        <div class="col-md-3 private">
          <a class="list-block" href="javascript:void(0)">
            <figure>
              <img class="img-fluid img-profile rounded mx-auto mb-2" src="assets/img/profile.jpg" alt="imagen Javier Pozo Corbalán">
              <figcaption>
                <h2>Developer</h2>
                <p>(Back | Front) - End </p>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="col-md-9 main lead">
          <p>Este site se creó para poder llevar un registro de aquellas páginas que consultamos para buscar información, los que nos dedicamos al mundillo de la
          <span>programación</span>. Podemos añadir información adicional para filtrar, crear agrupaciones, temáticas, niveles, estadísticas  ... </p>
          <p>Los <strong>links</strong> que se registren en el sistema deberán ser de <strong>acceso público</strong></p>
        </div>
      </div>
      <hr>
    </div>
  </div>
</section>
